.tabs-container{
  display: flex;
}
.tabs{
  padding: 1rem;
  border: 1px solid red;
  cursor: pointer;
}
.tabs-component{
  /* display: flex; */
  padding: 2rem;
  border: 1px solid black;
  width: auto;
}